<table class="info" cellspacing="0" cellpadding="0">
  <% if @object && @object.class? %>
  <tr>
    <th>Inherits from</th>
    <td><%= link_to_class(@object.superclass) %></td>
  </tr>
  <% end %>
  <% unless @object.nil? || (@object && @object.conforms_to.empty?) %>
  <tr>
    <th>Conforms to</th>
    <td>
      <ul>
        <% @object.conforms_to.each do |pcall| %>
        <li><%= link_to_protocol(pcall.name) %></li>
        <% end %>
      </ul>
    </td>
  </tr>
  <% end %>
  <tr>
    <th>Declared in</th>
    <td>
      <ul>
        <% if functions.any? %>
          <% files = functions.collect { |key, obj| obj[:file].name }.uniq %>
          <% files.each do |name| %>
          <li><%= name %></li>
          <% end %>
        <% else %>
        <li><%= @file.name %></li>
        <% end %>
      </ul>
    </td>
  </tr>
  <tr>
    <th>Related sample code</th>
    <td>
      <ul>
        <li><a href="#">iPhoneCoreDataRecipes</a></li>
        <li><a href="#">MoveMe</a></li>
        <li><a href="#">ScrollViewSuite</a></li>
        <li><a href="#">TheElements</a></li>
        <li><a href="#">UICatalog</a></li>
      </ul>
    </td>
  </tr>
</table>