  <!-- content -->
  <div id="content">
      <!-- main -->
      <div id="main">        
        <div class="block">
          <h3 class="block-head">Guides</h3>
          <ul class="block-list">
            <li><a href="#" title="">Integrating in your project</a></li>
            <li><a href="#" title="">Getting Started With Shapes</a></li>
            <li><a href="#" title="">Some Other Guide</a></li>
            <li><a href="#" title="">A Final Guide</a></li>
          </ul>
        </div>
        
        <div class="block">
          <h3 class="block-head">Tasks</h3>
          <ul class="block-list">
            <li><a href="#" title="">Doing Some Task</a></li>
            <li><a href="#" title="">Some other task that needs to be done</a></li>
            <li><a href="#" title="">Doing Some Task</a></li>
            <li><a href="#" title="">Doing Some Task</a></li>
          </ul>
        </div>
      </div>
      <!-- /main -->
      
      <!-- sbar -->
      <div id="sbar">
        <div class="obj-lists">
          <% if objc_classes.any? %>
          <h3>Classes</h3>
          <ul class="obj-list">
            <% objc_classes.each do |key, symbol| %>
            <li><%= link_to_class(symbol[:object].name) %></li>
            <% end %>
          </ul>
          <% end %>
          <% if objc_protocols.any? %>
          <h3>Protocols</h3>
          <ul class="obj-list">
            <% objc_protocols.each do |key, symbol| %>
            <li><%= link_to_protocol(symbol[:object].name) %></li>
            <% end %>
          </ul>
          <% end %>
          <% if objc_categories.any? %>
          <h3>Categories</h3>
          <ul class="obj-list">
            <% objc_categories.each do |key, symbol| %>
            <li><%= link_to_category(symbol[:object].name) %></li>
            <% end %>
          </ul>
          <% end %>
        </div>
      </div>      
      <!-- /sbar -->
    </div>
    <!-- /content -->


