<table class="info" cellspacing="0" cellpadding="0">
  <tr>
    <th>Inherits from</th>
    <td><%= @object.superclass %></td>
  </tr>
  <tr>
    <th>Related Sample Code</th>
    <td>
      <ul>
        <li><a href="#">iPhoneCoreDataRecipes</a></li>
        <li><a href="#">MoveMe</a></li>
        <li><a href="#">ScrollViewSuite</a></li>
        <li><a href="#">TheElements</a></li>
        <li><a href="#">UICatalog</a></li>
      </ul>
    </td>
  </tr>
</table>